<link rel="stylesheet" href="/css/user/otp.css">


<header>
    <div class="header-container">
        <div class="logo">
            <div class="logo-icon"><i class="fa-solid fa-check"></i></div>
            <div class="logo-text">
                <span class="brand">VELOCE</span>
                <span class="sub-brand">GAMING</span>
            </div>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="#">Shop</a>
            <a href="/signup">Sign Up</a>
        </nav>
    </div>
</header>

<main>
    <div class="otp-card">
        <h1>OTP</h1>
        <p class="description">We have sented a 6 digit OTP to your email address...</p>
        <% if (typeof message !== "undefined" && message) { %>
            <p style="color:red;"><%= message %></p>
        <% } %>
        <form action="/otp" method="post" onclick="return formValidate()">

        <div class="form-group">
            <label>OTP</label>
            <div class="otp-input-wrapper">
                <input id="otp" name="otp" type="text" placeholder="● ● ● ● ● ●" class="otp-input">
            </div>
        </div>

        <button type="submit" class="btn-continue">Continue</button>

        </form>

        <div class="resend-section">
            <span>Didn't receive the code?</span>
            <a id="resendBtn" href="/resendOtp" class="resend-link">Resend OTP</a>
            <p style="color: rgb(0, 221, 255);" id="timerText" class="timer-text"></p>
        </div>

        <p style="color:red;" id="timer"
           data-expiry="<%= expiryTime %>"
        class="timer"></p>
    </div>

    
    
</main>
<script src="/js/user/otp.js"></script>

