<link rel="stylesheet" href="/css/user/resetPassword.css">



<header>
    <div class="header-container">
        <div class="logo">
            <div class="logo-icon"><i class="fa-solid fa-check"></i></div>
            <div class="logo-text">
                <span class="brand">VELOCE</span>
                <span class="sub-brand">GAMING</span>
            </div>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <a href="/signup">Sign Up</a>
        </nav>
    </div>
</header>

<main>
    <div class="reset-card">
        <h1>New Password</h1>
        <p class="description">Enter your new password...</p>

        <% if (typeof message !== "undefined" && message) { %>
            <p style="color:red;"><%= message %></p>
        <% } %>

        <form action="/resetPassword" method="post" onclick="return formValidate()">
            <div class="form-group">
                <label>New Password</label>
                <div class="input-wrapper">
                    <input minlength="6" name="newPassword" type="password" placeholder="● ● ● ● ● ● ● ●" class="reset-input" id="newPassword">
                    <span class="toggle-password" onclick="togglePassword('newPassword')">Show</span>
                </div>
                <p class="helper-text">Password must be at least 8 characters long</p>
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <div class="input-wrapper">
                    <input minlength="6" name="confirmPassword" type="password" placeholder="● ● ● ● ● ● ● ●" class="reset-input" id="confirmPassword">
                    <span class="toggle-password" onclick="togglePassword('confirmPassword')">Show</span>
                </div>
            </div>

            <button type="submit" class="btn-continue">Continue</button>
        </form>
    </div>

    <a href="/login" class="back-link">Back to Login</a>
</main>

<script src="/js/user/resetPassword.js">
    
</script>